@using WebProject.Entities
@using WebProject.ExtentionMethods
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}

@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "HOME";
}


<head>
    <link href="~/home.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">
</head>
<div class="home-content">
    <h1>Why WPotify?</h1>

    <div class="home-description">
        <span class="home-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
        <div class="home-info">
            <h3>Explore new music.</h3>
            <h5>Listen anywhere.</h5>
        </div>

    </div>

    <div class="home-description" style="display: flex;justify-content: flex-end;">
        <span class="home-icon"><i class="fa fa-music" aria-hidden="true"></i></span>
        <div class="home-info" style="margin-right: 3%;">
            <h3>Ad-free music listening.</h3>
            <h5>Enjoy nonstop music.</h5>
        </div>
    </div>

    <div class="home-description">
        <span class="home-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
        <div class="home-info">
            <h3>Create your playlist.</h3>
            <h5>Share with people.</h5>
        </div>
    </div>

    <div class="home-description" style="display: flex;justify-content: flex-end;">
        <span class="home-icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
        <div class="home-info" style="margin-right: 3%;">
            <h3>Upload your music.</h3>
            <h5>Present to the people.</h5>
        </div>
    </div>

    @if (loggedUser == null)
    {
        <h2>Do you want to be a part of it? <a href="/Home/Register">Join us!</a></h2>
    }
    else
    {
        <!--// TODO: set a link to -->
        <div class="user-card-song-and-btn">
            <h2>Thank you for being a part of our family! <a href="/Users/Index">Explore!</a> </h2>
        </div>
    }
