@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap');

body {
    margin: 0;
    background: linear-gradient(0deg, lightskyblue, transparent); 
}
.container {
    width: 100%;
    display: inline-block;
   
}

.title a{
    text-decoration: none;
    color:inherit;
}

.header {
    background-color: black;
    color: white;
    height: 85px;
    padding: 0 10%;
    margin-bottom: 20px;
}

    .header .title {
        float: left;
        border-top: solid 0.5px white;
        border-bottom: solid 0.5px #7F8AF2;
        border-radius: 45px;
        text-shadow: 2px 2px #3A53E5;
        margin-top: 2px;
       
    }

.header .container{
    display:block;
    margin: 0;
    padding: 0;
    
}

.menu {
    margin: 0;
    padding: 0;
    float:right;
}

.menu li {
    list-style: none;
    float: left;
    position: relative;
    
}

.menu li a {
    display:block;
    color: white;
    padding: 33.8px 25px;
    text-align:center;  
    text-decoration: none;

    
    
}
.menu li a:hover {
    background-color: #333333;
}

#dropMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left:0;
    top: 85px;
}
#dropMenu a{
    padding: 10px 35px;
    height: 20px;
}

.menu li:hover #dropMenu {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #555555;
}



/*login, register*/

.container-login {
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content:center;
}
.form-outer-outer {
    width: 45%;
    background-color: #f6c5ae73;
    border-radius: 0 0 15px 15px;
    border-top: 4px solid #3a53e4;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    margin-top: 15px;
}
.form-outer h1 {
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: #3a53e4;
    
}
.form-outer {
    max-width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
    flex-wrap;
}
.form-input input {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border: 2px solid #B0B0B0;
    border-radius: 20px;
}
.form-input input:hover {
    border: 2px solid black;
}

.form-input{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    margin: 10px 0;
}
.form-input:hover .icon {
    color: #000000;
}

.icon{
    position: absolute;
    left:15px;
    top:0;
    font-size 25px;
    color: #B0B0B0;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.right {
    float: right;
}
.login-or-register {
    margin-top: 30px;
}

#submit-login-btn, #submit-register-btn {
    background-color: #3a53e4;
    color: white;
    width: 100%;
    padding: 7px 0;
    border-radius: 2px;
    cursor:pointer;
}
#submit-register-btn{
    margin-top:9px;
}

#submit-login-btn:hover {
    background-color: #2842d8;
}

.ask-if-member {
    float: right;
    font-size: 80%;
}

.ask-if-member a {
    text-decoration: none;
    color: #3a53e4;
}

.ask-if-member a:hover{
    color: darkblue;
}

.field-validation-error-div {
    color: white;
    width: 98%;
    background-color: #ff00003b;
    padding-left: 3%;
    border-radius: 20px;
}






.grid {
    display: inline-block;
    width: 100%;
}

.grid .row {
    display: inline-block;
    width: 100%;
    margin-bottom: 1px;
}

.grid .row .col-1 {
    display: inline-block;
    width: 150px;
}

.grid .row .col-2 {
    display: inline-block;
    width: 300px;
}

.grid .row .col-3 {
    display: inline-block;
    width: 450px;
}

.grid .row input[type=text] {
    width: 300px;
}

.grid .row input[type=password] {
    width: 300px;
}


.grid .row textarea {
    width: 300px;
    height: 150px;
}

/*_Site*/


