@model WebProject.ViewModels.Playlists.AddSongVM
@using WebProject.Entities
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "SONGS";
}


<form action="/Playlists/AddSong" method="post">
    @Html.HiddenFor(m => m.Song.Id)
    @Html.HiddenFor(m => m.Playlist.Id)

    <div class="grid">
        <div class="row">
            <div class="col-3">Tittle</div>
            <div class="col-2"></div>
        </div>
        @foreach (Song item in Model.Songs)
        {

            <div class="row">
                <div class="col-3">@item.Tittle</div>
                <div class="col-2">
                    @*<input type="submit" class="right" value="Add" />*@
                    <a href="/Playlists/AddSongA?SongId=@item.Id&PlaylistId=@(Model.PlaylistId)" class="right">Add</a>
                </div>
            </div>
        }
    </div>
</form>