@model WebProject.ViewModels.Playlists.IndexVM
@using WebProject.Entities
@using WebProject.ExtentionMethods
@using WebProject.Repositories

@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "PLAYLISTS";
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
    int PLNumber = 0;
    string atSign = "@";
    WebProjectDbContext context = new WebProjectDbContext();

}
<head>
    <link href="~/playlists.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Spartan:wght@200&family=Open+Sans:wght@300&family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">

</head>
<div class="pl-grid">
    <div class="new-pl"><a href="/Playlists/Create">Create new PLAYLIST!</a></div>
    <div class="pl-header-row">
        <div class="pl-col-1">#</div>
        <div class="pl-col-2" style="color: #afafaf;">Title</div>
        <div class="pl-col-3">Songs</div>
        <div class="pl-col-4"><i class="fa fa-wrench" aria-hidden="true"></i></div>
    </div>

    @foreach (Playlist item in Model.Items)
    {
        PLNumber++;
        <div class="pl-row">
            <div class="pl-col-1 pl-col-1-cntxt">@PLNumber</div>
            <div class="pl-col-2">
                <a class="pl-col-2-cntxt" href="/Playlists/Context?id=@item.Id"> @item.Name</a>
            </div>
           
            <div class="pl-col-3">0</div>
            <div class="pl-col-4">
               
                    <div class="pl-options">
                        <a href="/Playlists/AddSong?id=@item.Id"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <a href="/Playlists/Edit?id=@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="/Playlists/Delete?id=@item.Id"
                           onclick="return confirm('Delete Record?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                
              
            </div>
        </div>
    }
</div>




